In [4]:
import pandas
import seaborn
import matplotlib.pyplot as plt

##Data Set: https://www.kaggle.com/datasets/waqi786/cats-dataset
url = "cats_dataset.csv"

chipotle_data = pandas.read_csv(url, sep = '\t')
chipotle_data.head()

   Breed,Age (Years),Weight (kg),Color,Gender
0      Russian Blue,19,7,Tortoiseshell,Female
1  Norwegian Forest,19,9,Tortoiseshell,Female
2                  Chartreux,3,3,Brown,Female
3                   Persian,13,6,Sable,Female
4                     Ragdoll,10,8,Tabby,Male