In [25]:
import pandas
import seaborn
import matplotlib.pyplot as plt

##Data Set: https://www.kaggle.com/datasets/waqi786/cats-dataset
url = "cats_dataset.csv"

cat_data = pandas.read_csv(url, sep = ',')
cat_data.head()

              Breed  Age (Years)  Weight (kg)          Color  Gender
0      Russian Blue           19            7  Tortoiseshell  Female
1  Norwegian Forest           19            9  Tortoiseshell  Female
2         Chartreux            3            3          Brown  Female
3           Persian           13            6          Sable  Female
4           Ragdoll           10            8          Tabby    Male

In [40]:
#Average Weight
avg_weight = cat_data["Weight (kg)"].median()
print(avg_weight)

6.0

In [58]:
#unique_breeds=cat_data["Breed"].unique()
weight_cats = cat_data.groupby("Breed")["Weight (kg)"].median()
weight_cats

Breed
Abyssinian            5.0
American Shorthair    6.0
Balinese              5.0
Bengal                5.0
Birman                6.0
British Shorthair     6.0
Burmese               5.0
Chartreux             5.0
Cornish Rex           6.0
Devon Rex             5.0
Egyptian Mau          6.0
Exotic Shorthair      6.0
Himalayan             7.0
Maine Coon            6.0
Manx                  6.0
Munchkin              6.0
Norwegian Forest      5.0
Ocicat                6.0
Oriental              5.0
Persian               5.0
Ragdoll               5.0
Russian Blue          5.0
Savannah              5.0
Scottish Fold         6.0
Siamese               6.0
Siberian              6.0
Singapura             6.0
Sphynx                5.5
Tonkinese             5.0
Turkish Angora        6.0
Name: Weight (kg), dtype: float64

In [56]:
gender_std = cat_data.groupby("Gender")["Weight (kg)"].std()
gender_std

Gender
Female    2.175279
Male      2.276602
Name: Weight (kg), dtype: float64

In [61]:
oldest = cat_data.groupby("Breed")["Age (Years)"].max()
oldest

Breed
Abyssinian            19
American Shorthair    19
Balinese              18
Bengal                19
Birman                19
British Shorthair     19
Burmese               19
Chartreux             19
Cornish Rex           19
Devon Rex             19
Egyptian Mau          19
Exotic Shorthair      19
Himalayan             18
Maine Coon            19
Manx                  19
Munchkin              19
Norwegian Forest      19
Ocicat                19
Oriental              18
Persian               19
Ragdoll               19
Russian Blue          19
Savannah              19
Scottish Fold         19
Siamese               19
Siberian              19
Singapura             17
Sphynx                19
Tonkinese             19
Turkish Angora        19
Name: Age (Years), dtype: int64

In [77]:
common_color = cat_data["Color"]
unique_colors = common_color.unique()
max = 0
color = ""
for i in unique_colors:
    count = 0
    for j in common_color:
        if j == i:
            count += 1
    if count > max:
        max = count
        color = i
color

'Tricolor'

In [78]:
common_breed = cat_data["Breed"]
unique_breeds = common_breed.unique()
max = 0
breed = ""
for i in unique_breeds:
    count = 0
    for j in common_breed:
        if j == i:
            count += 1
    if count > max:
        max = count
        breed = i
breed

'Ragdoll'

In [82]:
age_cats = cat_data.groupby("Age (Years)")["Weight (kg)"].median()
age_cats

Age (Years)
1     5.0
2     6.0
3     5.0
4     6.0
5     6.0
6     6.0
7     6.0
8     5.0
9     6.0
10    5.0
11    5.0
12    6.0
13    5.0
14    5.5
15    6.0
16    5.5
17    5.0
18    6.0
19    6.0
Name: Weight (kg), dtype: float64

In [95]:
bitri_cats = cat_data.groupby("Color")["Weight (kg)"].median()
bitri_cats

Color
Bicolor          5.0
Black            5.0
Blue             6.0
Brown            5.5
Calico           6.0
Cream            5.0
Gray             6.0
Orange           5.0
Pointed          6.0
Red              6.0
Sable            7.0
Tabby            5.0
Tortoiseshell    5.0
Tricolor         5.0
White            6.0
Name: Weight (kg), dtype: float64

In [112]:
breed_color = cat_data.groupby("Breed")["Color"]
max = 0
breedC = ""
for i in unique_breeds:
    count = 0
    for j in unique_colors:
        if j != "Bicolor" or j != "Tricolor":
            count+=1
    if count > max:
        max = count
        breedC = i
breedC

'Russian Blue'